header {
    background: #fff;
    padding: 10px 20px;
    border-bottom: 2px solid #e6eaee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-email {
    font-weight: bold;
    margin-right: 15px;
}

.login-btns {
    display: flex;
}

.login-btns .forms-switch-btn {
    margin-right: 20px;
}
